.color-box {
    $box-size: 800px;
    display: inline-block;
    width: $box-size;
    height: $box-size;
    border-radius: 10px;

    transition: all 0.35s ease-in-out 0s; //chỉnh tgian chuyển màu
    cursor: pointer; //cho user biết là click đc
}
